<p id="notice"><%= notice %></p>

<p>
  <strong>Logo:</strong>
  <%= @game.logo %>
</p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @game.rating %>
</p>

<p>
  <strong>User:</strong>
  <%= @game.user_id %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @game.creator_id %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
